@import url("./variables.css");

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--color-background); */
}
/* .test{
    background-color: var(--dark-charcoal);
    font-family: var(--body-font);
} */