@import url("./variables.css");

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 h1{
    font-family: var(--font-heading);
 }

 h2{
    font-family: var(--font-heading);
    font-size: 32px;
 }

 p{
    font-family: var(--font-body);
 }

 a{
   text-decoration: none;
   color: inherit;
 }

 html {
   scroll-behavior: smooth;
}